# archivos de compilación
*.pyc
__pycache__/

# directorios de entornos virtuales
venv/

# directorios de medios y estáticos
media/

# directorios de configuración local
local/
logs/

.venv
.git
.gitignore